/* sidebar */
.bs-docs-sidebar {

}

.inline-block {
	display: inline-block;
}

#sidebar-chat {
	background-color: #e6e6e6;
	height: 100%;
	top: 0;
	right: 0;
	padding-top: 4.375em;
	width: 16%;
}

#chat-room-name {
	text-align: center;
}

#chat-room-name hr {
	margin-bottom: 0.625em;
	margin-top: 0.625em;
	background-color: #bfbfbf;
	border-color: #bfbfbf;
}

#chat-content {
	height: 83%;
	margin-left: 5%;
	overflow-y: scroll;
}

#send-message-box {
	width: 90%;
	margin-left: 5%;
	padding-left: 2%;
	height: 3.125em;
	resize: none;
}

#send-message {
	float: right;
	margin-right: 5%;
	margin-top: 2%;
}

#chat-bottom {

}

.hidden {
	display: none;
}

.shown {
	display: block;
}

.black-background {
	background-color: #000000;
}

/*.container {
	margin: 0px !important;
}*/

.youtube-search-bar {
	margin-bottom: 0.5em;
}

.video-container {
	/*height: 550px;*/
	width: 46.875em;
}

.youtube-search-bar {
	width: 100%;
}

.search-results {
	height: 28.125em;
	width: 100%;
	overflow-y: scroll;
}

.portfolio-item {
    margin-bottom: 1.563em;
}

footer {
    margin: 3.125em 0;
    text-align: center;
}

#search_video_button, #load_more_button {
	display: inline-block;
}

#chat-column {
	position: absolute;
	height: 100%;
	background-color: #e6e6e6;
	top: 0;
	right: 0;
	overflow-y: hidden;
	padding-top: 4.375em;
}

.room-details {
	margin-right: 2em;
}

.image-thumbnail {
	height: 9.375em;
	width: 12.500em;
}

.room-name-link {
	color: black;
	font-size: 1.2em;
}

.room-name-link:hover {
	text-decoration: none;
}

.room-tag-text {
	font-style: italic;
	color: #661a00;
}

.room-user-amount {
	font-size: 0.8em;
	color: #330d00;
}

.room-type-selection {
	display: inline-block;
	font-size: 1.2em;
	margin-top: 1em;
	margin-right: 0.5em;
	color: #992600;
	text-decoration: none;
}

.room-type-selection:hover {
	text-decoration: none;
	color: #000;
}

.room-type-selection:active {
	text-decoration: none;
	color: #000;
}

.room-type-selection:focus {
	text-decoration: none;
	color: #000;
}

.room-type-selection-active {
	color: #000;
}

#room-separator {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	height: 0.1em;
	border: none;
	color: #ffc6b3;
	background-color: #ffc6b3;
}