<div id="popover-template-div">
	<span id="name-color">NAME COLOR</span>
	<div ng-click="getMessageColor('#ff0000')" class="color-pallet-units" style="background-color: #ff0000"></div>
	<div ng-click="getMessageColor('#0066ff')" class="color-pallet-units" style="background-color: #0066ff"></div>
	<div ng-click="getMessageColor('#ff9900')" class="color-pallet-units" style="background-color: #ff9900"></div>
	<div ng-click="getMessageColor('#990099')" class="color-pallet-units" style="background-color: #990099"></div>
	<div ng-click="getMessageColor('#ff8000')" class="color-pallet-units" style="background-color: #ff8000"></div>
	<div ng-click="getMessageColor('#196619')" class="color-pallet-units" style="background-color: #196619"></div>
	<div ng-click="getMessageColor('#ff0080')" class="color-pallet-units" style="background-color: #ff0080"></div>
	<div ng-click="getMessageColor('#00ff99')" class="color-pallet-units" style="background-color: #00ff99"></div>
	<div ng-click="getMessageColor('#cc66ff')" class="color-pallet-units" style="background-color: #cc66ff"></div>
	<div ng-click="getMessageColor('#ffff00')" class="color-pallet-units" style="background-color: #ffff00"></div>

	<hr id="popover-hr">

	<div id="popover-settings-secondary">
		<span>CHAT OPTIONS</span>
	</div>
</div>