<!--<div ng-include="'navigationbar.html'"> </div>--> 
<div class="row" ng-controller="homeCtrl">

	<nav class="ad-column col-md-2 bs-docs-sidebar">
		<ul class="nav nav-stacked fixed sidebar-left">
			<li class="small-margin-left">
				<span>Place some ads here</span>
			</li>
				<!--<li class="small-margin-left">
					<span>Place some ads here</span>
				</li>
				<li class="small-margin-left">
					<span>Place some ads here</span>
				</li>-->
		</ul>
	</nav>

	<div class="cold-md-8">
		<span>Content Here. Probably Room List</span>
	</div>

	<nav class="sidebar-right col-md-2 bs-docs-sidebar">
		<ul class="nav nav-stacked fixed sidebar-right">
			<li>
				<span>Some Content Here?</span>
			</li>
		</ul>
	</nav>

</div>