<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">TuneBox</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li>
					<a href="#">Placeholder</a>
				</li>
				<li>
					<a href="#">Placeholder</a>
				</li>
				<li>
					<a href="#">Placeholder</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>

<div class="col-md-3">
	<!-- CREATE RECOMENDATIONS AND ADDS AREA HERE -->
</div>

<!-- Page Content -->
<div class="container">

	<!--<div class="col-md-2 add-container">
		<h1>Adds Here</h1>
	</div>-->

	<!-- Song Name Heading -->
	<!--<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Song name
				<small>Artist</small>
			</h1>
		</div>
	</div>-->
	<!-- /.row -->	

	<!-- Portfolio Item Row -->
	<div class="row">

		<div class="col-lg-12">
			<h1 class="page-header">Song name
				<small>Artist</small>
			</h1>
		</div>

		<div class="col-md-8 video-container" ng-controller='VideosController'>
			<!--<img class="img-responsive" src="http://placehold.it/750x500" alt="">-->

			<div class="youtube-search-bar">
				<form ng-submit="search(true)">
					<input type="search" class="form-control" placeholder="Search for videos in YouTube" ng-model="query">
				</form>
			</div>

			<div ng-click="youtube.player.stopVideo();" ng-class="classHidden">
				<div id="player">
					<div id="placeholder" style="width: 100%; height: 450px"></div>
				</div>
			</div>

			<div ng-class="classShown">
				
				<ul class="list-group search-results">
					<li class="list-group-item" ng-repeat="video in results track by $index" ng-click="launch(video, true)">
						<img class="thumbnail" ng-src="{{ video.thumbnail }}">
						<div class="title">
							{{ video.title }}
						</div>
						<div class="user">
						</div>
						<div class="desc">
							{{ video.description }}
						</div>
					</li>
				</ul>
				<p class="after-list" ng-show="results.length === 0">
					<!--<span ng-hide="loading">{{ label }}</span>-->
					<span ng-show="loading"><ons-icon icon="fa fa-spinner" size="22px" spin="true"></ons-icon></span>
				</p>
				<p class="after-list" ng-show="results.length > 0 && nextPageToken !== ''">
					<button ng-click="loadMoreButton.startSpin(); loadMoreButton.setDisabled(true); search(false)">Load more videos</button>
				</p>
			</div>
		</div>

		<div class="col-md-4">
			<h3>Room Description</h3>
			<p>Genre</p>
			<p>Artists</p>
			<p>What ever</p>
			<h3>Room Details??</h3>
			<ul>
				<li>Stuffs</li>
				<li>??</li>
			</ul>
		</div>

	</div>
	<!-- /.row -->

	<!-- Related Projects Row -->
	<div class="row">

		<div class="col-lg-12">
			<h3 class="page-header">Room Recommendations</h3>
		</div>

		<div class="col-sm-3 col-xs-6">
			<a href="#">
				<img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
			</a>
		</div>

		<div class="col-sm-3 col-xs-6">
			<a href="#">
				<img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
			</a>
		</div>

		<div class="col-sm-3 col-xs-6">
			<a href="#">
				<img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
			</a>
		</div>

		<div class="col-sm-3 col-xs-6">
			<a href="#">
				<img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
			</a>
		</div>

	</div>
	<!-- /.row -->

	<hr>

	<!-- Footer -->
	<footer>
		<div class="row">
			<div class="col-lg-12">
				<p>Copyright &copy; TuneBox 2016</p>
			</div>
		</div>
		<!-- /.row -->
	</footer>

</div>
<!-- /.container -->
